
!**/src/main/**/target/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
### Environment ###
### IntelliJ IDEA ###
### Logs ###
### STS ###
### Stitch ###
### VS Code ###
### macOS ###
*.env.local
*.iml
*.ipr
*.iws
*.log
.AppleDouble
.DS_Store
.LSOverride
.apt_generated
.classpath
.env
.factorypath
.idea
.project
.settings
.springBeans
.stitch/node_modules/
.sts4-cache
.vscode/
HELP.md
dist/
logs/
target/
